.Category[data-v-8ef4a5b9] {
  width: 8rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease-in-out;
}
.Category[data-v-8ef4a5b9]:hover {
  cursor: pointer;
  scale: 1.1;
}
.Image[data-v-8ef4a5b9] {
  height: 5rem;
}
.Title[data-v-8ef4a5b9] {
  display: flex;
  flex-direction: column;
}
p1[data-v-8ef4a5b9] {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
p2[data-v-8ef4a5b9] {
  font-weight: 700;
  font-weight: light;
  opacity: 0.5;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
Button[data-v-a6830d00] {
  padding: 3px 15px;
  border-color: #5555551a;
  border-radius: 3px;
  color: #fff;
  box-shadow: 14px 14px 36px #5555551a;
  cursor: pointer;
}
.CustomButton {
  margin-left: 1rem;
  position: absolute;
  bottom: 20%;
  left: 3%;
}
.Images {
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
}
h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  width: 55%;
  margin-left: 2rem;
}
.Promotion {
  position: relative;
  padding: 3rem 0rem;
  gap: 1rem;
  display: flex;
  flex-grow: 1;
  flex-basis: 10%;
  border-radius: 10px;
  height: 15rem;
}
nav {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
  color: #2c3e50;
}
h2 {
  color: #000;
  font-size: 32px;
  width: auto;
  font-weight: 700;
  color: #2c3e50;
}
.menu {
  display: flex;
  gap: 2rem;
  font-size: 16px;
}
.prodtitle[data-v-cbd52d11]:hover {
  cursor: pointer;
}
.notClicked[data-v-cbd52d11] {
  border: none;
  background: rgb(59, 183, 126, 0.2);
  font-weight: 700;
  color: #3bb77e;
  cursor: pointer;
}
.clicked[data-v-cbd52d11] {
  border: 1px solid rgb(59, 183, 126, 0.8);
  background: none;
  font-weight: 700;
  color: #3bb77e;
  cursor: pointer;
}
.card p4[data-v-cbd52d11] {
  font-size: 16px;
  font-weight: 700;
  color: #606468;
}
.card p5[data-v-cbd52d11] {
  color: #606468;
  font-size: 12px;
  font-weight: 700;
  text-decoration: line-through;
}
.tag[data-v-cbd52d11] {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  border-radius: 0 30px 30px 0;
  left: -0.5px;
  padding: 0.2rem 0.7rem;
}
.card > img[data-v-cbd52d11] {
  display: flex;
  max-width: 70%;
  max-height: 40%;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}
.card[data-v-cbd52d11] {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px solid rgba(84, 84, 84, 0.65);
  border-radius: 10px;
}
.backgroundimagbanner {
  background-image: url(/assets/shwocaseban-eca4d5f7.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}
.backgroundimagbannercolor {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #faebd7;
  z-index: -2;
  border-radius: 15px;
}
.subsinput {
  display: flex;
  gap: 0.2rem;
  border-radius: 100px;
  background-color: #fff;
  padding-left: 1rem;
  margin-top: 2rem;
}
.subsinput input {
  border: none;
  border-radius: 50%;
  background-color: none;
  color: gray;
  padding: 0.5rem 8rem 0.5rem 0;
  font-size: 14px;
}
.showcasetitle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  padding: 2rem 3.5rem;
}
.showcase {
  display: flex;
  width: 100%;
  border-radius: 10px;
  position: relative;
}
.showcase h1 {
  font-size: 64px;
  line-height: 68px;
  margin: 0;
  width: 100%;
}
.bannerpic {
  background-image: url(/assets/showcasepic-fac758bf.png);
  max-width: 60%;
  width: 50%;
  background-position: center;
  background-size: cover;
}
.showcase h2 {
  color: #7e7e7e;
  font-size: 22px;
  font-weight: 500;
}
.ProductList[data-v-74a82b28] {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1.33rem;
}
.CategoryList[data-v-74a82b28] {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  gap: 0.8rem;
}
.PromotionList[data-v-74a82b28] {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
